body{
    background-color:rgb(244, 248, 203);
    color:black;
    font-family: "Poppins" ;
    max-width: 320px;
    width: 100%;
    max-height: 250PX;
    height:100%;
    margin: 0 auto;
    margin: center; 
    padding: 0px;
    justify-content: center;
    align-items:center ;

}
h1{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: black;
    margin-left: 85px;

}

input, select {
    text-decoration: none;
    display: flex;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 200;
    border: 0px;
    align-items:center ;
    background-color: rgb(201, 195, 189);
    padding-inline: 2px;
    width: 290px;
    height: 22px;
    padding-left: 10px;
}
::placeholder{
    color: black;
}

.salva{
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    width: 80px;
    padding: 1px;
    padding-left: 1px;
    margin-left: 110px;
    background-color: rgb(207, 189, 250);
    justify-content: center;
    align-items:center ; 
    cursor: pointer;
    border: 0px;

}
.salva:hover{
    color: blue;
}
a{
    text-decoration: none;
}
strong{
    position: absolute;
    max-width: 320px;
    width: 100%;
}
