body{
    background-color:rgb(244, 248, 203);
    color:black;
    font-family: "Poppins" ;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin: center; 
    padding: 25px;
    justify-content: center;
    align-items:center ;
    display:block;

}
h1.gov{
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    color: black;
    margin-left: 90px;

}
h2{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
   
}

input,.input.sen{
    border: 0px;
    background-color: rgb(201, 195, 189);
    height: 18px;
    width: 230px;
    padding-left: 70px;
}

.Redefinir,.Cadastro,.Administrador{
    padding-top: 5px;
    display: inline-block;
}

.cadastro,.redefinir,.administrador {
    display: flex;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 300;
    align-items:center ;
    background-color: rgb(207, 189, 250);
    height: 22px;
    width: 302px;
    border: 0px;
}
.redefinir a:hover,.cadastro a:hover,.administrador a:hover{
    color: blue;
}
a{
    text-decoration: none;
    color: black;
    align-items:center ;
    justify-content: center;  
}
button:hover{
 color: blue;
}
.erro{
    color: white;
    background-color: red;
    display: none;
}

label{
    position: absolute;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 300;
    margin-top: 2px;
    margin-left: 2px;
}


.Enviar{
    position: absolute;
    background-color: rgb(207, 189, 250);
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    border: 0px;
    height: 22px;
    width: 60px;
    margin-left: 110px;
    cursor: pointer;
}
div.Redefinir{
    margin-top:65px;
}
.Redefinir a{
    position: absolute;
    margin-left: 10px;
}
.Cadastro a{
    position: absolute;
    margin-left: 30px;
}
.Administrador a{
    position: absolute;
    margin-left: 48px;
}
div.Administrador{
    margin-top: 20px;
}