body{
    background-color:rgb(244, 248, 203);
    color:black;
    font-family: "Poppins" ;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin: center; 
    padding: 50px;
    justify-content: center;
    align-items:center ;

}
h1, h2, h3{
    position: absolute;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-left: 30px;
}
h2, h3{
    margin-top: 70px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 55px;
    justify-content: center;
    align-items:center ;
}
h3{
    margin-left: 2px;
    margin-top: 40px;
    max-width: 300px;


}
label{
    position: absolute;
    padding-top: 115px;
    margin-left: 3px;
}

input {
    border: 0px;
    background-color: rgb(201, 195, 189);
    padding-left:px;
    width: 230px;
    height: 25px;
    padding-left: 50px;
    margin-top: 110px;
}

button{
    margin-top: 30px;
    border: none;
    height: 25px;
    width: 90px;
    align-items:center ;
    justify-content: center;
    align-items:center ;
    background-color: rgb(207, 189, 250);
    margin-left: 80px;
    cursor: pointer;
    
}
.envia:hover{
color: blue;
}
div{
    position: absolute;
    margin-top:100px ;
}